{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="hero-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5>Welcome to Top Rock</h5>
                <p>Climbing is a challenging and exciting pursuit, but it is important for people like yourself to have the correct equipment to ensure they stay safe at all times, whether you are scaling the highest mountains or just starting out. So if you're scaling the heights when rock climbing, heading up above the clouds while mountain climbing or hanging a few feet from the ground while bouldering, Top Rock stocks a range of climbing gear to suit your needs.</p>
                <p><a href="#" class="btn btn-primary btn-large">Enter the Shop</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}